{{ define "main" }}
  <main>
    <h1>{{ .Title }}</h1>
    {{ .Content }}


    <nav class="mt-24 flex overflow-hidden rounded-xl bg-black/[3%] text-lg leading-[1.2]! *:flex *:w-1/2 *:items-center *:p-5 *:font-medium *:no-underline dark:bg-white/[8%] [&>*:hover]:bg-black/[2%] dark:[&>*:hover]:bg-white/[3%]">
      <a class="justify-end pl-3 ltr:ml-auto rtl:mr-auto" href="{{ (.Site.GetPage "/pages/waves").Permalink }}">
        <span>{{ (.Site.GetPage "/pages/waves").Name }}</span>
        <span class="ltr:ml-1.5 rtl:mr-1.5">→</span>
      </a>
    </nav>
  </main>
{{ end }}
